{% for host in groups['rabbitmq'] %}
[amqp]
uri = "amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ hostvars[host]['ansible_fqdn'] }}:5672"
{% endfor %}

[bigcouch]
compact_automatically = true
cookie = {{ erlang_cookie }}
ip = "127.0.0.1"
port = 15984
username = "{{ couch_user }}"
password = "{{ couch_password }}"
admin_port = 15986

{% for host in groups['kazoo'] %}
[whistle_apps]
host = {{ hostvars[host]['ansible_fqdn'] }}
cookie = {{ erlang_cookie }}

[kazoo_apps]
host = {{ hostvars[host]['ansible_fqdn'] }}
cookie = {{ erlang_cookie }}

[ecallmgr]
host = {{ hostvars[host]['ansible_fqdn'] }}
cookie = {{ erlang_cookie }}
{% endfor %}

[log]
syslog = info
console = notice
file = error

